/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		border-collapse: collapse;
		border-left-style: solid;
		border-left-width: 0px;
		border-left-color: #000000;
		border-right-style: solid;
		border-right-width: 0px;
		border-right-color: #000000;
		border-top-style: solid;
		border-top-width: 0px;
		border-top-color: #000000;
		border-bottom-style: solid;
		border-bottom-width: 0px;
		border-bottom-color: #000000;
		max-id: 5;
		margin-left: 0;
		margin-right: 24px;
		margin-top: 8px;
		margin-bottom: 8px;
		max-width: 612px;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: inListTable;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 5;
	margin-left: 0;
	margin-right: 24px;
	margin-top: 8px;
	margin-bottom: 8px;
	max-width: 750px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	background-color: #007dc1;
	color: #ffffff;
	name: Header1;
	id: 3;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	font-size: 16px;
}

mcTableBodyStyle
{
	span: 1;
	id: 5;
	name: Subhead;
	type: Manual;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	font-size: 12px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	background-color: #edf0f5;
	name: Body1;
	id: 1;
	type: Automatic;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	font-size: 12px;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body2;
	id: 2;
	type: Automatic;
	background-color: #ffffff;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	vertical-align: top;
	font-size: 12px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-inListTable
	{
		border-collapse: collapse;
		border-left-style: solid;
		border-left-color: #000000;
		border-left-width: 0px;
		border-right-style: solid;
		border-right-color: #000000;
		border-right-width: 0px;
		border-top-style: solid;
		border-top-color: #000000;
		border-top-width: 0px;
		border-bottom-style: solid;
		border-bottom-color: #000000;
		border-bottom-width: 0px;
		margin-left: 0;
		margin-right: 24px;
		margin-top: 8px;
		margin-bottom: 8px;
		border-spacing: 0px 0px;
	}
}

.TableStyle-inListTable
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	margin-left: 0;
	margin-right: 24px;
	margin-top: 8px;
	margin-bottom: 8px;
	border-spacing: 0px 0px;
}

.TableStyle-inListTable-Column-Column1
{
	
}

.TableStyle-inListTable-Head-Header1
{
	
}

.TableStyle-inListTable-HeadI-Column1-Header1
{
	color: #ffffff;
	font-size: 16px;
	background-color: #007dc1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-inListTable-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-size: 16px;
}

.TableStyle-inListTable-HeadE-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 16px;
	background-color: #007dc1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-inListTable-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-size: 16px;
}

.TableStyle-inListTable-HeadF-Column1-Header1
{
	color: #ffffff;
	font-size: 16px;
	background-color: #007dc1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-inListTable-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-size: 16px;
}

.TableStyle-inListTable-HeadH-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 16px;
	background-color: #007dc1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-inListTable-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-size: 16px;
}

.TableStyle-inListTable-HeadD-Column1-Header1
{
	color: #ffffff;
	font-size: 16px;
	background-color: #007dc1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-inListTable-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-size: 16px;
}

.TableStyle-inListTable-HeadC-Column1-Header1
{
	color: #ffffff;
	font-size: 16px;
	background-color: #007dc1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-inListTable-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-size: 16px;
}

.TableStyle-inListTable-HeadB-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 16px;
	background-color: #007dc1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-inListTable-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-size: 16px;
}

.TableStyle-inListTable-HeadA-Column1-Header1
{
	color: #ffffff;
	font-size: 16px;
	background-color: #007dc1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-inListTable-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-size: 16px;
}

.TableStyle-inListTable-HeadG-Column1-Header1
{
	color: #ffffff;
	font-size: 16px;
	background-color: #007dc1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-inListTable-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-size: 16px;
}

.TableStyle-inListTable-Foot-Footer1
{
	
}

.TableStyle-inListTable-FootI-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-inListTable-FootI-Column1-Footer1 p
{
	
}

.TableStyle-inListTable-FootE-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-inListTable-FootE-Column1-Footer1 p
{
	
}

.TableStyle-inListTable-FootF-Column1-Footer1
{
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-inListTable-FootF-Column1-Footer1 p
{
	
}

.TableStyle-inListTable-FootH-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-inListTable-FootH-Column1-Footer1 p
{
	
}

.TableStyle-inListTable-FootD-Column1-Footer1
{
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-inListTable-FootD-Column1-Footer1 p
{
	
}

.TableStyle-inListTable-FootC-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-inListTable-FootC-Column1-Footer1 p
{
	
}

.TableStyle-inListTable-FootB-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-inListTable-FootB-Column1-Footer1 p
{
	
}

.TableStyle-inListTable-FootA-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-inListTable-FootA-Column1-Footer1 p
{
	
}

.TableStyle-inListTable-FootG-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-inListTable-FootG-Column1-Footer1 p
{
	
}

.TableStyle-inListTable-Body-Subhead
{
	
}

.TableStyle-inListTable-BodyI-Column1-Subhead
{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-inListTable-BodyI-Column1-Subhead p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyE-Column1-Subhead
{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-inListTable-BodyE-Column1-Subhead p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyF-Column1-Subhead
{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-inListTable-BodyF-Column1-Subhead p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyH-Column1-Subhead
{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-inListTable-BodyH-Column1-Subhead p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyD-Column1-Subhead
{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-inListTable-BodyD-Column1-Subhead p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyC-Column1-Subhead
{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-inListTable-BodyC-Column1-Subhead p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyB-Column1-Subhead
{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-inListTable-BodyB-Column1-Subhead p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyA-Column1-Subhead
{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-inListTable-BodyA-Column1-Subhead p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyG-Column1-Subhead
{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-inListTable-BodyG-Column1-Subhead p
{
	font-size: 12px;
}

.TableStyle-inListTable-Body-Body1
{
	
}

.TableStyle-inListTable-BodyI-Column1-Body1
{
	font-size: 12px;
	vertical-align: top;
	background-color: #edf0f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-inListTable-BodyI-Column1-Body1 p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyE-Column1-Body1
{
	font-size: 12px;
	vertical-align: top;
	background-color: #edf0f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-inListTable-BodyE-Column1-Body1 p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyF-Column1-Body1
{
	font-size: 12px;
	vertical-align: top;
	background-color: #edf0f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-inListTable-BodyF-Column1-Body1 p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyH-Column1-Body1
{
	font-size: 12px;
	vertical-align: top;
	background-color: #edf0f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-inListTable-BodyH-Column1-Body1 p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyD-Column1-Body1
{
	font-size: 12px;
	vertical-align: top;
	background-color: #edf0f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-inListTable-BodyD-Column1-Body1 p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyC-Column1-Body1
{
	font-size: 12px;
	vertical-align: top;
	background-color: #edf0f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-inListTable-BodyC-Column1-Body1 p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyB-Column1-Body1
{
	font-size: 12px;
	vertical-align: top;
	background-color: #edf0f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-inListTable-BodyB-Column1-Body1 p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyA-Column1-Body1
{
	font-size: 12px;
	vertical-align: top;
	background-color: #edf0f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-inListTable-BodyA-Column1-Body1 p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyG-Column1-Body1
{
	font-size: 12px;
	vertical-align: top;
	background-color: #edf0f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-inListTable-BodyG-Column1-Body1 p
{
	font-size: 12px;
}

.TableStyle-inListTable-Body-Body2
{
	
}

.TableStyle-inListTable-BodyI-Column1-Body2
{
	font-size: 12px;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-inListTable-BodyI-Column1-Body2 p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyE-Column1-Body2
{
	font-size: 12px;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-inListTable-BodyE-Column1-Body2 p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyF-Column1-Body2
{
	font-size: 12px;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-inListTable-BodyF-Column1-Body2 p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyH-Column1-Body2
{
	font-size: 12px;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-inListTable-BodyH-Column1-Body2 p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyD-Column1-Body2
{
	font-size: 12px;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-inListTable-BodyD-Column1-Body2 p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyC-Column1-Body2
{
	font-size: 12px;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-inListTable-BodyC-Column1-Body2 p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyB-Column1-Body2
{
	font-size: 12px;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-inListTable-BodyB-Column1-Body2 p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyA-Column1-Body2
{
	font-size: 12px;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-inListTable-BodyA-Column1-Body2 p
{
	font-size: 12px;
}

.TableStyle-inListTable-BodyG-Column1-Body2
{
	font-size: 12px;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-inListTable-BodyG-Column1-Body2 p
{
	font-size: 12px;
}


