/* MadCap Table Style: */

/*<meta Version="9" />*/

table {
	page-break-inside: avoid;
}

td p {
	page-break-inside: avoid;
}

td ul li {
	page-break-inside: avoid;
}

tr {
	page-break-inside: avoid;
}

mcTableStyle
{
	name: longTable;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 5;
	margin-left:0;
	margin-right: 24px;
	margin-top: 8px;
	margin-bottom: 8px;
	max-width: 750px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	background-color: #007dc1;
	color: #ffffff;
	name: Header1;
	id: 3;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	font-size: 16px;
}

mcTableBodyStyle
{
	span: 1;
	id: 5;
	name: Subhead;
	type: Manual;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	font-size: 12px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	background-color: #edf0f5;
	name: Body1;
	id: 1;
	type: Automatic;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 12px;
	cell-padding-bottom: 12px;
	font-size: 12px;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body2;
	id: 2;
	type: Automatic;
	background-color: #ffffff;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 12px;
	cell-padding-bottom: 12px;
	vertical-align: top;
	font-size: 12px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
}

/* Cell Styles: */

.TableStyle-longTable
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	margin-left: 16px;
	/* margin-left: 0; */
	margin-right: 24px;
	margin-top: 8px;
	margin-bottom: 8px;
	border-spacing: 0px 0px;
}

.TableStyle-longTable ul
{
	margin-top: 0;
	margin-left:10px;
	padding-left:0px;
}

.TableStyle-longTable ul li
{
}

.TableStyle-longTable-Column-Column1
{

}

.TableStyle-longTable-Head-Header1
{

}

.TableStyle-longTable-HeadI-Column1-Header1
{
	color: #ffffff;
	font-size: 16px;
	background-color: #007dc1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-longTable-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-size: 16px;
}

.TableStyle-longTable-HeadE-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 16px;
	background-color: #007dc1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-longTable-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-size: 16px;
}

.TableStyle-longTable-HeadF-Column1-Header1
{
	color: #ffffff;
	font-size: 16px;
	background-color: #007dc1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-longTable-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-size: 16px;
}

.TableStyle-longTable-HeadH-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 16px;
	background-color: #007dc1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-longTable-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-size: 16px;
}

.TableStyle-longTable-HeadD-Column1-Header1
{
	color: #ffffff;
	font-size: 16px;
	background-color: #007dc1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-longTable-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-size: 16px;
}

.TableStyle-longTable-HeadC-Column1-Header1
{
	color: #ffffff;
	font-size: 16px;
	background-color: #007dc1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-longTable-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-size: 16px;
}

.TableStyle-longTable-HeadB-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 16px;
	background-color: #007dc1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-longTable-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-size: 16px;
}

.TableStyle-longTable-HeadA-Column1-Header1
{
	color: #ffffff;
	font-size: 16px;
	background-color: #007dc1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-longTable-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-size: 16px;
}

.TableStyle-longTable-HeadG-Column1-Header1
{
	color: #ffffff;
	font-size: 16px;
	background-color: #007dc1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-longTable-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-size: 16px;
}

.TableStyle-longTable-Foot-Footer1
{

}

.TableStyle-longTable-FootI-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-longTable-FootI-Column1-Footer1 p
{

}

.TableStyle-longTable-FootE-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-longTable-FootE-Column1-Footer1 p
{

}

.TableStyle-longTable-FootF-Column1-Footer1
{
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-longTable-FootF-Column1-Footer1 p
{

}

.TableStyle-longTable-FootH-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-longTable-FootH-Column1-Footer1 p
{

}

.TableStyle-longTable-FootD-Column1-Footer1
{
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-longTable-FootD-Column1-Footer1 p
{

}

.TableStyle-longTable-FootC-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-longTable-FootC-Column1-Footer1 p
{

}

.TableStyle-longTable-FootB-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-longTable-FootB-Column1-Footer1 p
{

}

.TableStyle-longTable-FootA-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-longTable-FootA-Column1-Footer1 p
{

}

.TableStyle-longTable-FootG-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-longTable-FootG-Column1-Footer1 p
{

}

.TableStyle-longTable-Body-Subhead
{

}

.TableStyle-longTable-BodyI-Column1-Subhead
{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-longTable-BodyI-Column1-Subhead p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyE-Column1-Subhead
{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-longTable-BodyE-Column1-Subhead p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyF-Column1-Subhead
{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-longTable-BodyF-Column1-Subhead p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyH-Column1-Subhead
{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-longTable-BodyH-Column1-Subhead p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyD-Column1-Subhead
{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-longTable-BodyD-Column1-Subhead p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyC-Column1-Subhead
{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-longTable-BodyC-Column1-Subhead p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyB-Column1-Subhead
{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-longTable-BodyB-Column1-Subhead p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyA-Column1-Subhead
{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-longTable-BodyA-Column1-Subhead p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyG-Column1-Subhead
{
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-longTable-BodyG-Column1-Subhead p
{
	font-size: 12px;
}

.TableStyle-longTable-Body-Body1
{

}

.TableStyle-longTable-BodyI-Column1-Body1
{
	font-size: 12px;
	vertical-align: top;
	background-color: #edf0f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.TableStyle-longTable-BodyI-Column1-Body1 p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyE-Column1-Body1
{
	font-size: 12px;
	vertical-align: top;
	background-color: #edf0f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-longTable-BodyE-Column1-Body1 p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyF-Column1-Body1
{
	font-size: 12px;
	vertical-align: top;
	background-color: #edf0f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-longTable-BodyF-Column1-Body1 p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyH-Column1-Body1
{
	font-size: 12px;
	vertical-align: top;
	background-color: #edf0f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-longTable-BodyH-Column1-Body1 p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyD-Column1-Body1
{
	font-size: 12px;
	vertical-align: top;
	background-color: #edf0f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-longTable-BodyD-Column1-Body1 p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyC-Column1-Body1
{
	font-size: 12px;
	vertical-align: top;
	background-color: #edf0f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.TableStyle-longTable-BodyC-Column1-Body1 p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyB-Column1-Body1
{
	font-size: 12px;
	vertical-align: top;
	background-color: #edf0f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-longTable-BodyB-Column1-Body1 p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyA-Column1-Body1
{
	font-size: 12px;
	vertical-align: top;
	background-color: #edf0f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.TableStyle-longTable-BodyA-Column1-Body1 p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyG-Column1-Body1
{
	font-size: 12px;
	vertical-align: top;
	background-color: #edf0f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.TableStyle-longTable-BodyG-Column1-Body1 p
{
	font-size: 12px;
}

.TableStyle-longTable-Body-Body2
{

}

.TableStyle-longTable-BodyI-Column1-Body2
{
	font-size: 12px;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.TableStyle-longTable-BodyI-Column1-Body2 p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyE-Column1-Body2
{
	font-size: 12px;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-longTable-BodyE-Column1-Body2 p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyF-Column1-Body2
{
	font-size: 12px;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-longTable-BodyF-Column1-Body2 p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyH-Column1-Body2
{
	font-size: 12px;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-longTable-BodyH-Column1-Body2 p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyD-Column1-Body2
{
	font-size: 12px;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-longTable-BodyD-Column1-Body2 p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyC-Column1-Body2
{
	font-size: 12px;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.TableStyle-longTable-BodyC-Column1-Body2 p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyB-Column1-Body2
{
	font-size: 12px;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-longTable-BodyB-Column1-Body2 p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyA-Column1-Body2
{
	font-size: 12px;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.TableStyle-longTable-BodyA-Column1-Body2 p
{
	font-size: 12px;
}

.TableStyle-longTable-BodyG-Column1-Body2
{
	font-size: 12px;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.TableStyle-longTable-BodyG-Column1-Body2 p
{
	font-size: 12px;
}

@media print
{
	.TableStyle-longTable
	{
		border-collapse: collapse;
		border-left-style: solid;
		border-left-color: #000000;
		border-left-width: 0px;
		border-right-style: solid;
		border-right-color: #000000;
		border-right-width: 0px;
		border-top-style: solid;
		border-top-color: #000000;
		border-top-width: 0px;
		border-bottom-style: solid;
		border-bottom-color: #000000;
		border-bottom-width: 0px;
		margin-left: 0;
		margin-right: 24px;
		margin-top: 8px;
		margin-bottom: 8px;
		border-spacing: 0px 0px;
	}

	mcTableStyle
	{
		name: longTable;
		border-collapse: collapse;
		border-left-style: solid;
		border-left-width: 0px;
		border-left-color: #000000;
		border-right-style: solid;
		border-right-width: 0px;
		border-right-color: #000000;
		border-top-style: solid;
		border-top-width: 0px;
		border-top-color: #000000;
		border-bottom-style: solid;
		border-bottom-width: 0px;
		border-bottom-color: #000000;
		max-id: 5;
		margin-left:0;
		margin-right: 24px;
		margin-top: 8px;
		margin-bottom: 8px;
		max-width: 612px;
	}
}