/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Plain;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	background-color: #696969;
	color: #ffffff;
	name: Header1;
	id: 3;
	cell-padding-left: 8px;
	cell-padding-right: 8px;
	cell-padding-top: 8px;
	cell-padding-bottom: 8px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body2;
	id: 2;
	cell-padding-left: 8px;
	cell-padding-right: 8px;
	cell-padding-top: 8px;
	cell-padding-bottom: 8px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Plain
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-Plain-Column-Column1
{
	
}

.TableStyle-Plain-Head-Header1
{
	
}

.TableStyle-Plain-HeadI-Column1-Header1
{
	color: #ffffff;
	background-color: #696969;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Plain-HeadI-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Plain-HeadE-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Plain-HeadE-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Plain-HeadF-Column1-Header1
{
	color: #ffffff;
	background-color: #696969;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Plain-HeadF-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Plain-HeadH-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Plain-HeadH-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Plain-HeadD-Column1-Header1
{
	color: #ffffff;
	background-color: #696969;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Plain-HeadD-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Plain-HeadC-Column1-Header1
{
	color: #ffffff;
	background-color: #696969;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Plain-HeadC-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Plain-HeadB-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Plain-HeadB-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Plain-HeadA-Column1-Header1
{
	color: #ffffff;
	background-color: #696969;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Plain-HeadA-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Plain-HeadG-Column1-Header1
{
	color: #ffffff;
	background-color: #696969;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Plain-HeadG-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Plain-Foot-Footer1
{
	
}

.TableStyle-Plain-FootI-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-Plain-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Plain-FootE-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Plain-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Plain-FootF-Column1-Footer1
{
	background-color: #c0c0c0;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Plain-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Plain-FootH-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Plain-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Plain-FootD-Column1-Footer1
{
	background-color: #c0c0c0;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Plain-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Plain-FootC-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-Plain-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Plain-FootB-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Plain-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Plain-FootA-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-Plain-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Plain-FootG-Column1-Footer1
{
	background-color: #c0c0c0;
}

.TableStyle-Plain-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Plain-Body-Body2
{
	
}

.TableStyle-Plain-BodyI-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Plain-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Plain-BodyE-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Plain-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Plain-BodyF-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Plain-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Plain-BodyH-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Plain-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Plain-BodyD-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Plain-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Plain-BodyC-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Plain-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Plain-BodyB-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Plain-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Plain-BodyA-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Plain-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Plain-BodyG-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Plain-BodyG-Column1-Body2 p
{
	
}


